* {
    font-family: "helveticaneueregular";
    font-size: 30px;
    color: #262626;
    margin: 0;
}

#progress {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    background-color: #0095f6;
}

body {
    background-color: #f2f2f2;
}

a {
    color: #00376b;
}

#container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.card {
    width: calc(100% - 42px);
    height: calc(100% - 42px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h1 {
    text-align: center;
    user-select: none;
}

.card p.emoji {
    font-size: 50px;
    margin-top: 10px;
}

.emoji {
    font-family: Arial, Helvetica, sans-serif;
}

.form-element {
    margin-top: 20px;
    background-color: #ffffff;
    border: 0.5px #dbdbdb solid;
    padding: 15px;
    border-radius: 3px;
}

.input-block {
    position: relative;
    width: 250px;   
}

.input-block label {
    font-size: 20px;
}

.input-element {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: #fafafa;
    border: 0.5px #dbdbdb solid;
    border-radius: 3px;
    padding: 7px 14px;
    font-size: 20px;
    outline: none;
}

.stylish {
    padding-left: 30px;
}

.margin {
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-element:disabled {
    opacity: 0.7;
}

.placeholder-element {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 25px;
    color: #7d7d7d;
}

.sub-margin {
    margin-left: 5px;
}

.button-element {
    border-radius: 3px;
    font-size: 20px;
    padding: 7px 14px;
    text-align: center;
    border: none;
    background-color: #0095f6;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    padding-bottom: 9px;
}